# Code quality
pylint==2.14.0
flake8==4.0.1

# Testing dependencies
pytest==8.4.1
pytest-cov

# Code Coverage
coverage==6.3.2

requests==2.31.0
pyyaml==6.0.1

numpy
pandas
matplotlib

scikit-learn
imblearn
